body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  background-color: #d9d1e6;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #515c8a;

}

#heading{
    padding-top: 200px;
    font-size: 3vw;
}

#clockBody{
    width: fit-content;
    display: flex;
    margin: auto;
    background-color: #515c8a;
    border-radius: 250px;
}

.clockNum{
    text-align: center;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color: #7fcdd9;
    font-size: 22vw;
}