body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#heading{
    padding-top: 200px;
    font-size: 3vw;
}

#clockBody{
    width: fit-content;
    display: flex;
    margin: auto;
    background-color: #175440;
    border-radius: 250px;
}

.clockNum{
    text-align: center;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color: aquamarine;
    font-size: 22vw;
}